$yellow: #fff000;
$green: #20d666;
$red: #ff5745;


@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin bordes($color, $width){
	border-color: $color;
	border-width: $width;
	border-style:solid;
}

.jumbotron{
	background-color: $yellow;
	color: black; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@include margenes(50px,10px);
}

.navbar {
	background:$red;
}

.color-bordes {
	border: 1px solid $green;
}

footer {
	padding: 10px,10px,0,10px;
	background-color: $yellow;
	@include margenes(10px,0);
}

.card-hotel {
	/*flex: 1 200px;*/
	@include margenes(10px,0);
}

.btn-reserva{
	width: 100%;
	border-radius: 0;
}

.footer-address-icon{
	padding-right:10px;
}

.tab-content{
	padding-top:10px;
}

.estiloCarousel{
	@include bordes(greenyellow,10px);
}


