.jumbotron {
  background-color: #fff000;
  color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-bottom: 10px; }

.navbar {
  background: #ff5745; }

.color-bordes {
  border: 1px solid #20d666; }

footer {
  padding: 10px,10px,0,10px;
  background-color: #fff000;
  margin-top: 10px;
  margin-bottom: 0; }

.card-hotel {
  /*flex: 1 200px;*/
  margin-top: 10px;
  margin-bottom: 0; }

.btn-reserva {
  width: 100%;
  border-radius: 0; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.estiloCarousel {
  border-color: greenyellow;
  border-width: 10px;
  border-style: solid; }
