@yellow: #efeeb8;
@green: #20d666;
@red: #ff5745;


.margenes(@top, @bottom){
  margin-top: @top;
  margin-bottom: @bottom;
}

.bordes(@color, @width){
  border-color: @color;
  border-width: @width;
  border-style:solid;
}

.jumbotron{
  background-color: @yellow;
  color: black; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .margenes(50px,10px);
}

.navbar {
  background:@red;
}

.color-bordes {
  border: 1px solid @green;
}

footer {
  padding: 10px,10px,0,10px;
  background-color: @yellow;
  .margenes(10px,0);
}

.card-hotel {
  /*flex: 1 200px;*/
  .margenes(10px,0);
}

.btn-reserva{
  width: 100%;
  border-radius: 0;
}

.footer-address-icon{
  padding-right:10px;
}

.tab-content{
  padding-top:10px;
}

.estiloCarousel{
 .bordes(greenyellow,10px);
}
